
CommProtocolBackend/CommProtocolBackend/Debug/
CommProtocolBackend/CommProtocolBackend/Release/
CommProtocolBackend/Debug/
CommProtocolBackend/Release/
CommProtocolBackend/.vs/
TCPstuff/node_modules/

TCPstuff/package-lock\.json
